/* global.css */

/* Container */
.app-container {
  width: 100%;
  min-height: 100vh;          /* ocupa al menos toda la altura de la pantalla */
  max-width: 1200px;          /* ancho máximo del contenido */
  margin: 0 auto;             /* centra horizontalmente */
  padding: 20px;              /* espacio interno */
  box-sizing: border-box;     /* incluye padding en el tamaño total */

  display: flex;
  flex-direction: column;     /* organiza el contenido en columna */
  gap: 20px;                  /* espacio entre elementos */

  background-color: #f9fafb;  /* color de fondo suave */
}

/* Navbar */
.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-item a {
  color: white;
  text-decoration: none;
}

.navbar-item a:hover {
  text-decoration: underline;
}

/* Sidebar */

.sidebar {
  width: 200px;
  height: 100vh; /* ocupa toda la altura de la pantalla */
  background-color: #222;
  padding: 1rem;
  position: fixed; /* queda fijo mientras haces scroll */
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  margin-bottom: 1rem;
}

.sidebar-item a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
}

.sidebar-item a:hover {
  background-color: #444;
  border-radius: 4px;
  padding-left: 0.5rem;
}

/* Card */
.custom-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.custom-btn {
    border-radius: 30px;
    padding: 8px 20px;
}

.card-title {
    font-weight: bold;
}

/* Button */
.custom-btn {
  padding: 10px 20px;
  margin-right:'5px';
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
}

/* Variante primaria */
.custom-btn.primary {
  background-color: #0d6efd;
  color: white;
}

.custom-btn.primary:hover {
  background-color: #0b5ed7;
  transform: translateY(-2px);
}

/* Variante secundaria */
.custom-btn.secondary {
  background-color: #EF4444;
  color: white;
}

.custom-btn.secondary:hover {
  background-color: #EF4444;
  transform: translateY(-2px);
}

/* Variante éxito */
.custom-btn.success {
  background-color: #22C55E;
  color: white;
}

.custom-btn.success:hover {
  background-color: #157347;
  transform: translateY(-2px);
}

/* Variante consulta/visual */
.custom-btn.tertiary {
  background-color: #6B7280;
  color: white;
}

.custom-btn.tertiary:hover {
  background-color: #6B7280;
  transform: translateY(-2px);
}

/* Variante export*/
.custom-btn.export {
  background-color: #16A34A;
  color: white;
}

.custom-btn.export:hover {
  background-color: #157347;
  transform: translateY(-2px);
}

/* Variante filtrart*/
.custom-btn.filter {
  background-color: #6B7280;
  color: white;
}

.custom-btn.filter:hover {
  background-color: #6B7280;
  transform: translateY(-2px);
}

/* Variante editar*/
.custom-btn.edit {
  background-color: #3B82F6;
  color: white;
}

.custom-btn.edit:hover {
  background-color: #3B82F6;
  transform: translateY(-2px);
}

/* Badge */
.badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
}

.badge-active {
  background-color: #d1fae5;
  color: #065f46;
}

.badge-inactive {
  background-color: #fee2e2;
  color: #7f1d1d;
}

.badge-paid {
  background-color: #dbeafe;
  color: #1e3a8a;
}

.badge-pending {
  background-color: #fef3c7;
  color: #92400e;
}


/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background: white;
  width: 500px;
  max-width: 90%;
  border-radius: 8px;
  padding: 20px;
  animation: modalFade 0.2s ease;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-close {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.modal-body {
  margin-top: 10px;
}

@keyframes modalFade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}